@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.firstH1{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #254F4C;
    height: 127px;
    width: 403px;


}
.firstText{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    align-items: center;
    color: #1D3130;
    height: 48px;
    width: 416px;



}

.firstBlock button{
    width: 216px;
    height: 49px;
    background: #FF583E;
    border-radius: 100px;
    border: 0px;
    font-size: 14px;
}
.firstBtn{
    font-family: 'Roboto';
    font-weight: 700;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;


}
.vector{
    width: 10px;
    height: 10px;

}
.firstBlock{
   width: 419px;
    height: 256px;

}
.firstMenu{
    display: flex;

}
.secondBlock{

}

.secondHeaders{
    display: flex;
    text-align: center;
    align-items: center;
}
h1 .firstH1{
    width: 112px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    color: #254F4C;

}

.secondH1{

}
