@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.thirdHeader {
    display: flex;
    gap: 30px;
    list-style: none;
    width: 72px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #1D3130;
    font-size: 16px;
}

.thirdHeader li {
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #1D3130;
}

.thirdHeader li a {
    text-decoration: none;
}
.thirdHeader a{
    color: rgba(29, 49, 48, 1);
}
.burgerLi{
    text-decoration: underline;
    color:rgba(255, 88, 62, 1);
}
.burgerLi a{
    color:rgba(255, 88, 62, 1);
}

.menuLi {
    width: 112px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    align-items: center;

    margin: 0 177px 0 0;
}
.menuLi a{
    color: #254F4C;
}
.sort {
    display: flex;

}

.sort p {
    margin-right: 20px;
    margin-left: 848px;

}

.sort select {
    width: 160px;
    height: 40px;
    border: 1px solid #C4C4C4;
    padding: 12px 39px 12px 23px;
}