@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

.logoFood {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #A4A6B3;
    margin-bottom: 65px;
}

.logo {
    margin: 37px 21px -10px 32px;
}

.navBar {
    background: #363740;
    height: 1234px;

}

.navBarItem {
    width: 255px;
    height: 56px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 18px 24px 18px 0px;

}

.navBarItem a {
    color: #A4A6B3;
    text-decoration: none;
    height: 56px;
}

.navBarItem a:hover {
    color: #DDE2FF;
}

.photoIcon {
    margin-right: 24px;
    margin-left: 32px;
}

.navBar_section :hover {
    color: #DDE2FF;

}

.mainContainer {
    display: flex;

}

.siteCenter {
    width: 1440px;
    margin-top: 36px;
}

.mainTitle {
    height: 34px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
    width: 771px;
   padding-left: 30px;

}

.foodCard {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    width: 260px;
    height: 140px;
    margin: 52px 0 30px 30px;
    display: inline-block;

}

.foodCard:hover {
    border: 2px solid rgba(55, 81, 255, 1);
    color: rgba(55, 81, 255, 1);
}

.quantityOfFood {
    font-family: Mulish;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
}

.food {
    font-family: Mulish;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;

}

.search{
    padding-left: 50px;
}
.notification{
    padding-left: 32px;
    padding-right: 32px;
}

.name{
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    height: 18px;
    width: 120px;
    margin:24px 4px 0px 14px;

}
.input {
    border: 0;
    background: transparent;
    width: 0%;
    outline: none;
    font-family: sans-serif;
    font-size: 18px;
    color: #fff;
    font-style: italic;
    transition: all 0.3s ease;
    position: relative;
}

.input.active {
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

input::placeholder {
    color: #fff;
}