@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.containerHeader{
    width: 1200px;
    height: 40px;


}

.spoon {


}

.food {
    color: #254F4C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    height: 16px;
    margin: 0 0 8px 0;
}

.planet{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D3130;
    margin: 0;
}

.firstMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstMenu li{
    display: inline;
    margin-right: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style: none;
}


.firstLi {
    color: #FF583E;
}

.lastLi{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #FF583E;

}

.phone, .basket{
    margin-right: 8px;
}

.numberLi{
    font-size: 18px;
    line-height: 21px;
}

.menu{
    border: none;
}

.twoH{
    margin: 0 129px 0 8px;
}
