.commentsBlock{
    width: 248px;
    height: 304px;
    background: #FFFDFD;
    border: 2px solid #1D3130;
    box-sizing: border-box;
    border-radius: 40px;
    display: inline-table;
    margin-right: 52px;
<<<<<<< HEAD
}
.commentator{
    width: 102px;
    height: 24px;
=======
    
}
.commentator{
>>>>>>> origin/aidana
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
<<<<<<< HEAD
    text-align: right;
    color: #3B7976;
    margin: 112px 7px 8px 26px;
=======
    text-align: center;
    color: #3B7976;
>>>>>>> origin/aidana
}
.reviews{
    width: 276px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    color: #254F4C;
}
.commentatorsText{
    width: 216px;
    height: 104px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #061817;
    margin: 8px 16px 56px 16px;
}
.commentatorData{
<<<<<<< HEAD
    width: 206px;
    height: 16px;
=======
    
>>>>>>> origin/aidana
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3B7976;
<<<<<<< HEAD
    margin-left: 90px;
=======
}

.mainDiv{
    margin: 49px 0 88px 224px ;
>>>>>>> origin/aidana
}